@(request: play.api.mvc.RequestHeader, startForm: play.api.data.Form[String])
@import helper._
@import securesocial.core.IdentityProvider
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@views.html.main( Messages("securesocial.signup.title") ) {
    <div class="container">
        <div class="starter-template">
            @request.flash.get("error").map { msg =>
                <div class="alert alert-error">
                    @Messages(msg)
                </div>
            }
            <div>
                <img src="@routes.Assets.at("images/ahni-logo/ahni-logo-64.png")" alt="">
                <h2 class="darkorange-f">ahni</h2>
            </div>
            <hr class="darkorange-border">
            <h1 class="darkorange-f">@Messages("securesocial.signup.title")</h1>
            <h3>가지고 계신 이메일을 통해 회원가입을 할 수 있습니다.</h3>

            <div class="row">
                <div class="col-sm-offset-4 col-sm-4">
                    <form action="@securesocial.core.providers.utils.RoutesHelper.handleStartSignUp().absoluteURL(IdentityProvider.sslEnabled)(request)"
                          class="form-horizontal"
                          autocomplete="off" method="post">
                            @helper.inputText(
                                startForm("email"),
                                '_label -> Messages("securesocial.signup.email1"),
                                'class -> "form-control",
                                'placeholder -> "이메일",
                                'required -> ""
                            )
                            <div class="form-actions">
                                <button type="submit" class="btn btn-darkorange">@Messages("securesocial.signup.createAccount")</button>
                                <a class="btn btn-default" href="@securesocial.core.providers.utils.RoutesHelper.login()">@Messages("securesocial.signup.cancel")</a>
                            </div>
                    </form>
                </div>
        </div>
    </div>
}