body {
    font-family: "Helvetica Neue", Helvetica, Arial, serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #f0f0f0;
    padding-top: 50px;   /* Account for fixed navbar */
    position: relative; /* For scrollyspy */
    background-color: #202020;
    font-weight: lighter;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#footer {
    font-size: 12px;
    text-align: center;
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1030;
}

.thumbnail.thumb-photo{
    background-color: transparent;
}

div.row.favorite{
    margin-top: 2em
}

div.row.favorite div{
    /*background-color: rgba(0,0,0,0.5);*/
}

div.about-me-wrapper {
    margin-bottom: 5em;
}

p.edu-univ-toggle-p, #edu-univ-toggle-confirm{
    display: none;
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.text-left {
    text-align: left;
}

pre.pre-javachip {
    background-color: rgba(0,0,0,.5);
    border-style: none;
    border-left: 5px solid lightseagreen;
    border-radius: 0;
    color: white;
}

div.div-review{
    background-color: rgba(0,0,0,.5);
    border-style: none;
    border-left: 5px solid darkorange;
    border-radius: 0;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-bottom: 1em;
}

div.div-review h2 {
    color: darkorange;
    margin: 0 auto;
    padding: 0;
}

div.div-review div span.glyphicon-star {
    color: darkorange;
}

/*자동완성목록이 Modal 뒤에 나오는 것 fix*/
ul.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
    z-index: 1051;
}

/*자동완성목록 높이 조정*/
ul.ui-autocomplete { max-height: 12em; overflow-y: auto; overflow-x: hidden;}

.table-hover-custom > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th { background-color: #702020 }

div.alert.ahni-success {
    background-color: dodgerblue;
    color: #ffffff;
    border: none;
    border-radius: 0;
}

div.alert.ahni-danger {
    background-color: crimson;
    color: #ffffff;
    border: none;
    border-radius: 0;
}

/*My Favorite Color*/
.crimson-f{color: crimson} .crimson-b{background-color: crimson}
.dodgerblue-f{color: dodgerblue} .dodgerblue-b{background-color: dodgerblue}
.chartreuse-f{color: chartreuse} .chartreuse-b{background-color: chartreuse}
.darkorange-f{color: darkorange} .darkorange-b{background-color: darkorange} .darkorange-border{border-color: darkorange}
.lightseagreen-f{color: lightseagreen} .lightseagreen-b{background-color: lightseagreen}