@main("ahni - home") {
    <div class="container">
        <div class="starter-template text-center">
            <img src="@routes.Assets.at("images/elitephant-logo-simple.png")" style="max-width: 128px" alt="elitephant"/>
            @*<div>*@
                @*<h4>인하대학교 웹 개발 그룹</h4>*@
            @*</div>*@
            <div>
                <h3>elitephant</h3>
            </div>
            <div style="margin: 1em">
                <small>Daegi Kim 인하대학교 컴퓨터정보공학부</small>
            </div>
            <div>
                <span class="glyphicon glyphicon-cloud"></span>
            </div>
        </div>
    </div>
}