@main("ahni - home") {
    <div class="container">
        <div class="starter-template">
            <img src="@routes.Assets.at("images/elitephant-logo-simple.png")" style="max-width: 128px" alt="elitephant"/>
            @*<div>*@
                @*<h4>인하대학교 웹 개발 그룹</h4>*@
            @*</div>*@
            <hr class="darkorange-border">
            <div>
                <p class="darkorange-f">Member</p>
            </div>
            <div>
                <small>Daegi Kim 인하대학교 컴퓨터정보공학부 '10</small>
            </div>
        </div>
    </div>
}