@(user: securesocial.core.Identity)
@main("ahni - home") {
    @header("home",user)
    <div class="container">
        <div class="starter-template">
            <div class="text-left">
                <h2>"ahni가 뭐예요?"</h2>
                <h4>"아니"는 인하대학교 학생들을 위한 정보공유사이트입니다. 학교 이름을 뒤집은 거예요.</h4>
            </div>
            <div class="text-right">
                <h2>"ahni를 왜 만들었어요?"</h2>
                <h4>교내의 강의평가 시스템이 마음에 안 들어서 만들다가, 이렇게 됐네요.</h4>
            </div>
            <div class="text-left">
                <h2>"ahni에서 뭘 할 수 있어요?"</h2>
                <h4>
                    아직은 강의평가만을 할 수 있는데요, 계속해서 새롭고 다양한 기능을 추가할거예요!
                    예를 들면, 후문맛집지도 혹은 인하대 백과사전 같은거요. 있으면 참 좋을것 같지 않아요?
                </h4>
            </div>
            <div class="text-right">
                <h2>"정말 좋은 사이트네요! 우리는 뭘 하면 되죠?"</h2>
                <h4>
                    여러분이 알고 있는 정보를 여기에 공유해주세요.
                    우리가 당연히 알고 있는 그것이 누군가에겐 꼭 필요한 정보일 수 있거든요.
                </h4>
            </div>
            <div style="margin-top: 6em">
                <img src="@routes.Assets.at("images/ahni-logo/ahni-logo-64.png")" alt="">
                <div><small><em>"지식과 정보는 소수에게 독점되어서는 안 되며, 모든 사람에게 열려 있어야 한다."</em></small></div>
                <div><small><em>"Ideas worth spreading"</em></small></div>
            </div>
        </div>
    </div><!-- /.container -->
}

