@(user: securesocial.core.Identity)
@main("ahni - home") {
    @header("home",user)
    <div class="container">
        <div class="starter-template">
            <div class="text-center">
                <img src="@routes.Assets.at("images/logo-temp.png")" style="height: 48px" alt=""/>
                <h1 style="margin-top: 0">ahni<small style="color: #fff">[:inha]</small></h1>
                <div><small><em>"지식과 정보는 소수에게 독점되어서는 안 되며, 모든 사람에게 열려 있어야 한다."</em></small></div>
                <div><small><em>"Ideas worth spreading"</em></small></div>
            </div>
        </div>
    </div><!-- /.container -->
}

