@(user: securesocial.core.Identity)
@main("ahni") {
    @header("home",user)
    <div class="container">
        <div class="starter-template">
            <img src="@routes.Assets.at("images/pug.png")" style="width: 128px" alt="">

            <h3 class="text-left">지금 ahni 에서는 15202명의 학우들의 205467개의 강의후기가 공유중!</h3>
            <div class="row">
                <div class="col-md-12 text-left div-review">
                    <h2>공업수학1</h2>
                    <h4>양경수</h4>
                    <h5>인강은 듣기만 한다면 알차지만 양이 많아서 기출족보를 구하시는게 좋습니다. 하지만 최근 문제 유형이 많이 바뀌었고 D학점을 꽉채워 주셔서 학점비율이 좋지않습니다.</h5>
                    <div>
                        추천도:
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left div-review">
                    <h2>인터넷이야기</h2>
                    <h4>박재천</h4>
                    <h5>알무선보다는 살짝 문제가 아리까리한게 많이나옴. 과제도 토론같은거하고 댓글 잘쓰고 하면 무리는없음. 기본점수가 있기에.. 단 개정된 법규내용이 아직 시험이나 강의에 반영되지 않은게 많음.. 알무선은 A+떴는데 인터넷이야기는 b+로 마감 ㅠㅠ</h5>
                    <div>
                        추천도:
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
}

