@(request: play.api.mvc.RequestHeader, loginForm: play.api.data.Form[(String,String)], errorMsg: Option[String] = None)

@import helper._
@import securesocial.core.Registry
@import securesocial.core.AuthenticationMethod._
@import securesocial.core.providers.UsernamePasswordProvider.UsernamePassword
@import views.html.custom.provider

@views.html.main(Messages("securesocial.login.title")) {
    <div class="container">
        <div class="starter-template">

            <img src="@routes.Assets.at("images/ahni-128.png")" alt="">
            <div style="padding-bottom: 1em"></div>

            @errorMsg.map { msg =>
                <div class="alert alert-danger">
                    @Messages(msg)
                </div>
            }

            @request.flash.get("success").map { msg =>
                <div class="alert alert-info">
                    @msg
                </div>
            }

            @request.flash.get("error").map { msg =>
                <div class="alert alert-danger">
                    @msg
                </div>
            }

            @defining( Registry.providers.all.values.filter( _.id != UsernamePassword) ) { externalProviders =>

                @if( externalProviders.size > 0 ) {
                    <p>
                        @for(p <- externalProviders) { @provider(request, p.id) }
                    </p>
                    @*<p> 소셜 아이디로 로그인 할 수 있어요 </p>*@
                }

                @Registry.providers.get(UsernamePassword).map { up =>
                    @provider(request, "userpass", Some(loginForm))
                }
            }
        </div>
    </div>
}