@(request: play.api.mvc.RequestHeader, loginForm: play.api.data.Form[(String,String)], errorMsg: Option[String] = None)

@import securesocial.core.Registry
@import securesocial.core.providers.UsernamePasswordProvider.UsernamePassword
@import views.html.custom.provider

@views.html.main(Messages("securesocial.login.title")) {
    @errorMsg.map { msg =>
        <div class="alert ahni-alert-fixed-top ahni-danger">
            <span class="glyphicon glyphicon-warning-sign"></span>
            @Messages(msg)
        </div>
        <script type="text/javascript">
        $(document).ready(function() {
            $('div.alert.ahni-danger').slideDown(500).delay(5000).slideUp(500)
        });
        </script>
    }

    @request.flash.get("success").map { msg =>
        <div class="alert ahni-alert-fixed-top ahni-success">
            <span class="glyphicon glyphicon-info-sign"></span>
            @msg
        </div>
        <script type="text/javascript">
        $(document).ready(function() {
            $('div.alert.ahni-success').slideDown(500).delay(5000).slideUp(500)
        });
        </script>
    }

    @request.flash.get("error").map { msg =>
        <div class="alert ahni-alert-fixed-top ahni-danger">
            <span class="glyphicon glyphicon-warning-sign"></span>
            @msg
        </div>
        <script type="text/javascript">
        $(document).ready(function() {
            $('div.alert.ahni-danger').slideDown(500).delay(5000).slideUp(500)
        });
        </script>
    }
    <div class="container">
        <div class="starter-template">
            @defining( Registry.providers.all.values.filter( _.id != UsernamePassword) ) { externalProviders =>
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4">
                            <div class="text-center" style="margin-bottom: 1em">
                                <img src="@routes.Assets.at("images/logo-temp.png")" style="height: 48px" alt=""/>
                                <h1 style="margin-top: 0">ahni<small style="color: #fff">[:inha]</small></h1>
                            </div>
                            @if( externalProviders.size > 0 ) {
                                <div class="text-center social-login">
                                    @for(p <- externalProviders) { @provider(request, p.id) }
                                    <div style="margin-top: 1em;">
                                        <span class="glyphicon glyphicon-hand-up" style="font-size: 2em"></span>
                                        <span style="font-size: 1.5em; text-decoration: underline;">소셜 계정</span>
                                        으로 로그인 해보세요
                                    </div>
                                </div>
                            }
                            <hr/>
                            @Registry.providers.get(UsernamePassword).map { up =>
                                @provider(request, "userpass", Some(loginForm))
                            }
                        </div>
                    </div>
            }
        </div>
    </div>
}