@(user: securesocial.core.Identity, restaurantList: List[Restaurant])
@main("ahni - foodmap") {
    @header("foodmap",user)
    <div class="container">
        <div class="starter-template">
            <div class="foodmap-wrap">
                <form action="#" method="GET" role="form">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <input type="text" class="form-control search-box" id="keyword" name="keyword" style="height: 4em" placeholder="아무거나 검색해보세요" required="required" autocomplete="off" autofocus="on">
                                <span class="input-group-btn">
                                    <button class="btn btn-darkorange" type="submit" style="height: 4em; border-color: darkorange">검색 <span class="glyphicon glyphicon-search"></span></button>
                                </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-12 -->
                    </div><!-- /.row -->
                </form>
                <div class="row">
                @for(restaurant <- restaurantList) {
                    <div class="col-md-4">
                        <div class="foodmap-item">
                            <div class="title">
                            @restaurant.name
                            </div>
                            <div class="score-container">
                                <div class="score">
                                    5.0
                                </div>
                                <div>
                                    <span class="glyphicon glyphicon-star darkorange-f"></span>  <span class="glyphicon glyphicon-star darkorange-f"></span>  <span class="glyphicon glyphicon-star darkorange-f"></span>  <span class="glyphicon glyphicon-star darkorange-f"></span>  <span class="glyphicon glyphicon-star darkorange-f"></span>
                                </div>
                                <div class="count">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span>1</span>
                                    <span>total</span>
                                </div>
                            </div>
                            <div style="margin-top: 1em">
                                <a class="btn btn-sm btn-default" href="#">자세히 보기 <span class="glyphicon glyphicon-search"></span></a>
                                <a class="btn btn-sm btn-darkorange-slim" href="#">평가 작성하기 <span class="glyphicon glyphicon-pencil"></span></a>
                            </div>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
    </div><!-- /.container -->
}