@(user: securesocial.core.Identity, userDetail: UserDetail)
@main("ahni - account") {
    @header("account",user)
    <div class="container">
        <div class="starter-template">
            <div class="text-left">
                <div class="media">
                    <a class="pull-left" href="#">
                    @if(user.avatarUrl.get=="null") {
                        <span class="glyphicon glyphicon-user" style="font-size: 32px; color: #505050"></span>
                    } else {
                        <img class="media-object" src="@user.avatarUrl.get.replace("http://","//")" alt="@user.fullName" style="max-width: 32px; max-height: 32px">
                    }
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">@user.fullName</h3>
                    </div>
                </div>
                <h3>
                    내 정보
                    <a href="@routes.Account.detail" class="btn badge btn-primary">
                        수정하기
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </h3>
                <table class="table ahni-table-slim">
                    <thead>
                        <tr>
                            <th>구분</th>
                            <th>값</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(UserDetail.isValidatedUser(userDetail)) {
                            <tr>
                                <td>인하대학생 인증</td>
                                <td>인증됨</td>
                            </tr>
                            <tr>
                                <td>성별</td>
                                <td>@userDetail.gender</td>
                            </tr>
                            <tr>
                                <td>전공</td>
                                <td>@userDetail.major</td>
                            </tr>
                            <tr>
                                <td>입학년도</td>
                                <td>@userDetail.entrance</td>
                            </tr>
                        } else {
                            <tr>
                                <td>인하대학생 인증</td>
                                <td><a href="@routes.Account.startAuthenticate()" class="btn btn-sm btn-primary">지금 인증하기</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div>
                    @defining(LectureEvaluation.findByIdentity(user)) { lectureSimples =>
                        @if(lectureSimples!=null && lectureSimples.size()>0) {
                            <h3>내가 작성한 강의평가</h3>
                            <table class="table ahni-table-slim">
                                <thead>
                                    <tr>
                                        <th>강의명</th>
                                        <th>교수명</th>
                                        <th>보기</th>
                                        <th>수정</th>
                                        <th>삭제</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for(lectureSimple <- lectureSimples) {
                                    <tr>
                                        <td>@lectureSimple.lectureName</td>
                                        <td>@lectureSimple.professorName</td>
                                        <td><a href="@routes.Evaluation.detail(lectureSimple.id)"><span class="glyphicon glyphicon-eye-open darkorange-f"></span></a></td>
                                        <td><a href="@routes.Evaluation.write(lectureSimple.id)"><span class="glyphicon glyphicon-edit darkorange-f"></span></a></td>
                                        <td><a href="@routes.Evaluation.delete(lectureSimple.id)"><span class="glyphicon glyphicon-trash crimson-f"></span></a></td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        }
                    }
                </div>
            </div>
        </div>
    </div><!-- /.container -->
}

