@(user: securesocial.core.Identity, userDetail: UserDetail)
@import services.InhaAuthenticateHelper
@main("ahni - account") {
    @header("account",user)
    <div class="container">
        <div class="starter-template">
            <div class="text-left">
                <div class="media">
                    <a class="pull-left" href="#">
                    @if(user.avatarUrl.get=="null") {
                        <span class="glyphicon glyphicon-user" style="font-size: 128px; color: #505050"></span>
                    } else {
                        <img class="media-object" src="@user.avatarUrl.get" alt="@user.fullName" style="max-width: 128px; max-height: 128px">
                    }
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">@user.fullName</h3>
                        <div><small>고유 아이디: @User.findByIdentity(user).id</small></div>
                        <div><small>이메일: @user.email.get</small></div>
                        <div><small>가입경로: @user.identityId.providerId</small></div>
                        <div><small>
                            인하대학생 인증:
                            @if(InhaAuthenticateHelper.isValidatedUser(userDetail)) {
                                <span>(@userDetail.validatedEmail)</span> <span class="glyphicon glyphicon-ok"></span>
                            } else {
                                <span class="glyphicon glyphicon-remove"></span>
                                <a href="@routes.Account.startAuthenticate()">지금 인증하기</a>
                            }
                        </small></div>
                    </div>
                </div>
                <div>
                    <h3>내가 작성한 강의평가</h3>
                    <table class="table table-hover-custom text-center">
                        <thead>
                            <tr>
                                <th>강의명</th>
                                <th>교수명</th>
                                <th>삭제</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for( lectureEvaluation <- LectureEvaluation.findByIdentity(user) ) {
                            <tr>
                                <td>@lectureEvaluation.lectureName</td>
                                <td>@lectureEvaluation.professorName</td>
                                <td><a href="#"><span class="glyphicon glyphicon-remove darkorange-f"></span></a></td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
}

