@main("ahni") {
    <div class="container">
        <div class="starter-template">
            <img src="@routes.Assets.at("images/ahni-128.png")" alt="">
            <h1>ahni?</h1>

            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="이메일 주소">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="소중한 비밀번호">
                        </div>
                        <div class="form-group">
                            <small><a href="#">비밀번호 찾기</a></small>
                            <small><a href="#">가입하기</a></small>
                        </div>
                        <button type="submit" class="btn btn-crimson">입장하기</button>
                    </form>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </div><!-- /.container -->
}

