@(emailAuthenticateForm: Form[services.InhaAuthenticator.models.Email], portalAuthenticateForm: Form[services.InhaAuthenticator.models.Portal])
@main("ahni - inha authenticate") {
    @if(flash.containsKey("success")){
        <div class="alert ahni-success" style="display: none; position: absolute; top: 0; width: 100%;">
            @flash.get("success")
        </div>

        <script type="text/javascript">
        $(document).ready(function() {
            $('div.alert.ahni-success').slideDown(500).delay(5000).slideUp(500)
        });
        </script>
    }
    @if(flash.containsKey("error")){
        <div class="alert ahni-danger" style="display: none; position: absolute; top: 0; width: 100%;">
            @flash.get("error")
        </div>

        <script type="text/javascript">
        $(document).ready(function() {
            $('div.alert.ahni-danger').slideDown(500).delay(5000).slideUp(500)
        });
        </script>
    }
    <div class="container">
        <div class="starter-template">
            <img src="@routes.Assets.at("images/ahni-logo/ahni-logo-64.png")" alt="">
            <h1>인하대학교 학생이신가요?</h1>
            <h3>아래에 두 가지 인증 방법이 있습니다.</h3>
            <div class="row">
                @*포털 인증*@
                <div class="col-sm-6 text-left" style="margin-bottom: 24px">
                    <div style="border: 4px solid #1A1A1A; padding: 1em 1em 1em 1em;">
                        <div style="margin-bottom: 1em">
                            <h2>포털 아이디로 인증</h2>
                            <div>인증을 위해 포털 로그인 정보를 입력해주세요.</div>
                            <div class="dodgerblue-f">안심하셔도 좋습니다. 어떠한 데이터도 저장되지 않으니까요.</div>
                        </div>
                        @helper.form(action = routes.Account.requestPortalAuthenticate(), 'role -> "form") {
                            <div class="form-group">
                                <label for="uid">아이디</label>
                                <input type="text" class="form-control" id="uid" name="uid" placeholder="아이디" required="required" autocomplete="off" autofocus="on">
                            </div>
                            <div class="form-group">
                                <label for="pwd">패스워드</label>
                                <input type="password" class="form-control" id="pwd" name="pwd" placeholder="패스워드" required="required" autocomplete="off">
                            </div>
                            <button type="submit" class="btn btn-darkorange">인증하기</button>
                        }
                    </div>
                </div>

                @*이메일 인증*@
                <div class="col-sm-6 text-left" style="margin-bottom: 24px">
                    <div style="border: 4px solid #1A1A1A; padding: 1em 1em 1em 1em;">
                        <div style="margin-bottom: 1em">
                            <h2>학교 메일로 인증</h2>
                            <div>학교 이메일의 <strong class="darkorange-f">@("@inha.edu")를 제외한 아이디</strong>를 입력해주세요.</div>
                            <div><small>예) @("ahni@inha.edu")라는 학교 이메일을 사용하신다면 입력란에 ahni을 입력해주세요.</small></div>
                        </div>
                        @helper.form(action = routes.Account.requestEmailAuthenticate(), 'role -> "form") {
                            <div class="form-group">
                                <label for="email">이메일 아이디</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="email" name="email" placeholder="학교 이메일 아이디" required="required" autocomplete="off">
                                    <span class="input-group-btn">
                                    @("@inha.edu")
                                    </span>
                                </div>
                            </div>
                            <div style="height: 59px" class="form-group">
                            </div>
                            <div>
                                <button type="submit" class="btn btn-darkorange">인증 메일 전송하기</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
@*
            <div class="row">
                <div class="col-lg-offset-3 col-lg-6">
                    @helper.form(action = routes.Account.requestAuthenticate(), 'role -> "form") {
                        <div class="form-group">
                            <label for="email">
                                <div>학교 이메일의 <strong class="darkorange-f">@("@inha.edu")를 제외한 아이디</strong>를 입력해주세요</div>
                                <div><small>예) @("ahni@inha.edu")라는 학교 이메일을 사용하신다면 입력란에 ahni을 입력해주세요</small></div>
                            </label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="email" name="email" placeholder="학교 이메일 아이디" required="required" autocomplete="off" autofocus="on">
                                <span class="input-group-btn">
                                @("@inha.edu")
                                </span>
                            </div><!-- /input-group -->
                        </div>
                        <button type="submit" class="btn btn-darkorange">인증 메일 전송하기</button>
                        <div style="margin-top: 2em">
                            <a href="@routes.Home.index()">메인으로 돌아가기</a>
                            |
                            <a href="#">이메일 주소를 모르겠어요!</a>
                            |
                            <a href="#">받은 이메일은 어떻게 확인하나요?</a>
                        </div>
                    }
                </div>
            </div>
*@
        </div>
    </div><!-- /.container -->
}

