        <div id="footer">
            @*This is footer!*@
            <!--[if lte IE 8]><span style="filter: FlipH; -ms-filter: "FlipH"; display: inline-block;"><![endif]-->
            <span style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">
                ©
            </span>
            <!--[if lte IE 8]></span><![endif]-->
            <span> copyleft - all rights reversed </span>
            <span> / </span>
            <span> powered by </span>
            <span> <a href="https://www.facebook.com/groups/elitephant/" class="darkorange-f">Elite*phant</a> </span>
        </div>