@(title: String, user: securesocial.core.Identity)

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.Home.index">
                        ahni
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        @if(title=="home") {
                            <li class="active"><a href="@routes.Home.index">Home</a></li>
                            <li><a href="#">Menu1</a></li>
                            <li><a href="#">Menu2</a></li>
                            @if(user != null) {
                                <li>
                                    <a href="#">
                                        @user.fullName 님 환영합니다!
                                    </a>
                                </li>
                                <li>
                                    <a href="/logout">
                                        로그아웃
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                    </a>
                                </li>
                            }
                            @if(user == null) {
                            <li><a href="/login">로그인</a></li>
                            }
                        }
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div><!-- /.navbar -->